.grid {
  margin: 10px 5px 10px 5px;
}

.default {
  color: black;
}

.current {
  color: steelblue;
  font-weight: bold;
}

.truth {
  color: green;
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.tick {
  font-size: 9pt;
  fill: #000;
}

.x.label {
  font-size: 9pt;
  fill: #000
}

.y.label {
  font-size: 9pt;
  fill: #000;
}

.title {
  font-size: 10pt;
  fill: #000;
}

.hist.highlight {
  stroke: black;
  stroke-width: 5;
  stroke-opacity: 0.3;
}

.text._0.highlight {
  font-size: 20px;
  stroke: darkblue;
  stroke-width: 3px;
}

.bar rect {
  fill: #535f6c;
  shape-rendering: crispEdges;
}

.bar.select rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  font-size: 9pt;
  fill: black;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

div.slider {
  margin-left: 50px;
  margin-right: 7px;
  padding-top: 20px;
}

.ui-slider {
  width: 100%;
}

.ui-slider-tip {
  position: absolute;
  top: -19px;
  left: -5px;
  width: 20px;
  text-align: left;
  font-size: 9pt;
}

.btn-group.control {
  position: absolute;
  margin-top: 10px;
  right: 20px;
}

div.preSimple {
  margin-left: 50px;
  margin-right: 7px;
}

div.taskInner {
  margin-left: 50px;
  margin-right: 7px;
}

button.help {
  position: absolute;
  right: 20px;
}

.threshold line {
  stroke: steelblue;
  stroke-opacity: .75;
  shape-rendering: crispEdges;
}

.threshold circle {
  border-radius: 50%;
  fill: steelblue;
}

.threshold rect {
  fill: steelblue;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.importButton {
  position: relative;
  top: -50px;
  right: 7px;
}

.reconnectButton {
  position: relative;
  top: -37px;
}

.descriptionText {
  font-size: 10pt;
  font-weight: normal;
}

.scafold {
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

input.ng-invalid {
  background-color: rgba(255, 51, 51, 1);
}

.side {
  position: relative;
  top: -7px;
}

.infos {
  position: relative;
  top: -20px;
  height: 50px;
}

.title {
  padding-bottom: 40px;
  font-size: 24pt;
  text-align: center
}

.startButton {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.infoButton {
  width: 50px;
  vertical-align: top;
  font-size: 30px;
}

.runText {
  display: inline-block;
}

.right {
  fill: lightgrey;
}

.left {
  fill: steelblue;
}
