<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tagrefineryGuiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid">
          <div class="row">
              <div class="col-sm-8">
                  <uib-tabset justified="true">
                      <uib-tab heading="Preprocessing">
                          <div class="container-fluid" ng-controller="MainCtrl as mc">
                             <div class="row">
                                 <div class="col-sm-6">
                                    <div ui-grid="mc.wordGrid" ui-grid-selection ></div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div ui-grid="mc.simGrid"></div>
                                 </div>
                             </div>
                              <h4 style="position:relative; left:50%">Placeholder D3 plot</h4>
                             <button ng-click="mc.addData()">Toggle</button>
                             <div d3-bars data="mc.tempdata" bar-height="20" bar-padding="5" margin="10"></div>
                          </div>
                        </uib-tab>
                        <uib-tab heading="Composites">
                             <div class="row" ng-controller="CompositeCtrl as cc">
                            <button type="button" class="btn btn-primary btn-block" ng-click="cc.grouping()">Grouping</button>
                                 <div class="col-sm-6">
                                     <h4 style="position:relative; left:25%">Unique Groups: {{cc.uniqueThreshold | number:3}}</h4>
                                    <div ui-grid="cc.uniqueGrid" ui-grid-selection ></div>
                                 </div>
                                 <div class="col-sm-6">
                                     <h4 style="position:relative; left:25%">Frequent Groups: {{cc.frequentThreshold | number:3}}</h4>
                                    <div ui-grid="cc.frequentGrid" ui-grid-selection ></div>
                                 </div>
                             </div>
                        </uib-tab>
                        <uib-tab heading="Postprocessing">Long Labeled Justified content</uib-tab>
                  </uib-tabset>      
              </div>
              <div class="col-sm-4" ng-controller="MainCtrl as mc">
                  <h4 style="position:relative; left:50%">Statistics</h4>
                  <hr />
                  <span>Replacements: 123</span></br>
                  <span>Groups: 123</span></br>
                  <span>Bla: 123</span></br>
                  <h4 style="position:relative; left:50%">Data</h4>
                  <hr />
                  <div ui-grid="mc.overviewGrid" ui-grid-selection ui-grid-resize-columns class="overviewGrid"></div>
                  <h4 style="position:relative; left:50%">History</h4>
                  <hr />
                  <div ui-grid="mc.historyGrid" ui-grid-resize-columns></div>
              </div>
          </div>
      </div>


    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/socket.io/socket.io.js"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/d3bars.js"></script>
        <script src="scripts/services/d3.js"></script>
        <script src="scripts/services/httploader.js"></script>
        <script src="scripts/services/socket.js"></script>
        <script src="scripts/controllers/composite.js"></script>
        <!-- endbuild -->
</body>
</html>
