<div class="compSimple well well-sm" style="height:65px">
  <div>
    <div class="btn-group pull-right" style="display:inline-block">
      <label class="btn btn-success btn-lg" uib-tooltip="Apply selected threshold" ng-click="ctrl.apply()"><span
        class="glyphicon glyphicon-play"></span></label>
    </div>
  </div>
</div>

<div class="compSimple" style="width:450px">
  Max Group Size: <input type="number" ng-model="ctrl.maxGroupSize" uib-tooltip="What should the maximum word count per group be?">
  <br>
  Min Group Occurrence: <input type="number" ng-model="ctrl.minOcc" uib-tooltip="What is the minimum number of occurrences a group should have to be considered?">
  <br>
  Split Groups: <input type="checkbox" ng-model="ctrl.split" uib-tooltip="Should composite non groups stay together?">
</div>
