<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Select how many multiword tags should be considered</h4>
    A high group strength means that the words of this group appear mostly in this combination
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    The groups strength is the number of multiword tag occurrences divided by the sum of the single occurrences. <br>
    This brings up unique groups like artist names.
  </div>
</div>

<!--Task content-->
<div ng-if="status.open[1] || (currentStep == 5 && showStep)" d3-hist data="ctrl.data" call-back="ctrl.getThreshold(threshold)"
     threshold="ctrl.newThreshold" bins="24" svg-height="300" type-label="Group Strength" y-label="Count"></div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div class="col-sm-6" style="text-align: left">
    <h4>Threshold: {{ctrl.newThreshold | number:4 }}</h4>
    <h4>Number of used multiword Tags: {{ ctrl.replacements }}</h4>
  </div>
  <div class="col-sm-6" style="text-align: right">
    <label class="btn btn-primary" ng-model="ctrl.showDetails" uib-btn-checkbox
           btn-checkbox-true=true btn-checkbox-false=false uib-tooltip="Show detailed information">
      Inspect Tags
    </label>
  </div>
</div>

<!--Task advanced content-->
<div ui-grid="ctrl.uniqueGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter class="taskInner"
     ng-if="ctrl.showDetails"></div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-danger btn-lg round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.touched">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
