<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Advanced Parameters</h4>
    For detailed information click onto the info button on the left.
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    <strong>Max Group Size</strong>
    No groups above this value will be computed.
    <strong>Min Group Occurrence</strong>
    No unique group below this value will be considered. <br>
    This parameters allows you the removal of unique but very rare groups.
    <strong>Split Groups</strong>
    If this parameter is set to true. Composite tags like "hard-rock song" will be <br>
    split into two distinct tags: "hard-rock" and "song". <br>
  </div>
</div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: left">
    <form name="ctrl.params">
      <h5>
        <label>
          Max Group Size:
          <input type="number" ng-model="ctrl.newMaxGroupSize"
                 uib-tooltip="What should the maximum word count per group be?">
        </label>
        <br>
        <label>
          Min Group Occurrence:
          <input type="number" ng-model="ctrl.newMinOcc"
                 uib-tooltip="What is the minimum number of occurrences a group should have to be considered?">
        </label>
        <br>
        <label>
          Split Groups:
          <input type="checkbox" ng-model="ctrl.newSplit" uib-tooltip="Should composite non groups stay together?">
        </label>
      </h5>
    </form>
  </div>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-undo round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.params.$dirty">
      <span class="fa fa-undo"></span>
    </button>
  </div>
</div>
