<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Select how many multi-word tags should be considered</span><br>
    A high group strength indicates the the sequence of words appears mostly in this combination and can be a multi-word tag
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    The groups strength is the number of multi-word tag occurrences divided by the sum of the single occurrences. <br>
    This brings up unique groups like artist names.
  </div>
</div>

<div class="row taskInner">
  <div class="col-sm-9">
    <div id="compU1" ng-if="status.open[1] || (currentStep == 5 && showStep)" d3-hist data="ctrl.data" call-back="ctrl.getThreshold(threshold)"
         threshold="ctrl.newThreshold" bins="24" svg-height="400" type-label="Group Strength" y-label="Count"></div>
    <div style="margin-left: 70px">
      <p>Default Threshold: <strong style="font-size: large">0.900</strong></p>
      <p>Threshold: <strong style="font-size: large">{{ctrl.newThreshold | number:4 }}</strong></p>
      <p>Number of accepted multi-word Tags: <strong style="font-size: large">{{ ctrl.replacements }}</strong></p>
    </div>
  </div>
  <div class="col-sm-3">
    <span><strong style="background-color: rgba(50, 121, 183, 0.2)">Blue:</strong> Accepted Groups</span><br>
    <div style="height: 500px" ng-if="status.open[1] || (currentStep == 5 && showStep)" id="compUgrid" ui-grid="ctrl.uniqueGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter></div>
  </div>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-undo round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.touched">
      <span class="fa fa-undo"></span>
    </button>
  </div>
</div>
