<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Select how many multiword tags should be considered</span><br>
    A high group strength mean this multiword tag appears many time.
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    The <b>group strength</b> is the normalized frequency of the tag. <br>
    1 means this multiword tag appeared most often and 0 means it appeared never.
  </div>
</div>

<!--Task content-->
<div id="compF1" ng-if="status.open[0] || (currentStep == 4 && showStep)" d3-hist data="ctrl.data" call-back="ctrl.getThreshold(threshold)"
     threshold="ctrl.newThreshold" bins="24" svg-height="300" type-label="Group Strength" y-label="Count"></div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div id="compF2" class="col-sm-6" style="text-align: left">
    <h4>Threshold: {{ctrl.newThreshold | number:4 }}</h4>
    <h4>Number of used multiword Tags: {{ ctrl.replacements }}</h4>
  </div>
  <div id="compF3" class="col-sm-6" style="text-align: right">
    <button class="btn btn-default" ng-click="ctrl.openDetails()" ng-model="ctrl.showDetails" uib-btn-checkbox
           btn-checkbox-true=true btn-checkbox-false=false uib-tooltip="Show detailed information">
      Inspect Tags
    </button>
  </div>
</div>

<!--Task advanced content-->
<div ng-if="ctrl.showDetails" class="taskInner" >
  <p style="text-align: left; position: relative;bottom: 2px; margin-bottom: -5px"> <span style="color: #b10000; font-weight: bold">Red</span>: Used multiword Tags </p>
  <div id="compFgrid" ui-grid="ctrl.frequentGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter></div>
  </div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-undo pull-right round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.touched">
      <span class="fa fa-undo"></span>
    </button>
  </div>
</div>
