<div class="guidedInner">
  <span ng-show="currentStep == 0" class="guidedQuestion">Do you want to remove <strong>rare words</strong>?</span>
  <span ng-show="currentStep == 1" class="guidedQuestion">Do you want to import a list of <strong>words to remove</strong>?</span>
  <span ng-show="currentStep == 2" class="guidedQuestion">Do you want to import a list of <strong>correct words</strong>?</span>
  <span ng-show="currentStep == 3" class="guidedQuestion">Do you want to reduce <strong>word forms</strong> and <strong>spelling errors</strong>?</span>
  <span ng-show="currentStep == 4" class="guidedQuestion">Do you want to find <strong>word groups</strong> which appear very <strong>often</strong>?</span>
  <span ng-show="currentStep == 5" class="guidedQuestion">Do you want to find <strong>word groups</strong> which are <strong>unique</strong>?</span>
  <span ng-show="currentStep == 6" class="guidedQuestion">Do you want to reduce the total amount of <strong>important words</strong> used in your final dataset?</span>
  <span ng-show="currentStep == 7" class="guidedQuestion">Do you want to change those <strong>import words</strong> by hand?</span>
  <span ng-show="currentStep == 8" class="guidedQuestion">Do you want to search for those <strong>important words</strong> in the <strong>non-important ones</strong>?</span>
  <span ng-show="currentStep == 9" class="guidedQuestion">Results</span>
  <br>
  <div class="btn-group">
    <button ng-if="currentStep < 9" ng-click="ctrl.custom()" class="btn secondaryColor" style="width: 100px">Custom <span class="glyphicon glyphicon-cog"></span></button>
    <button ng-if="currentStep < 6" ng-click="ctrl.ok()" class="btn primaryColor">Use Defaults <span class="glyphicon glyphicon-play"></span></button>
    <button ng-if="currentStep == 6 || currentStep == 8" class="btn primaryColor" ng-click="ctrl.showResults()">Results <span class="glyphicon glyphicon-th-list"></span></button>
    <button ng-if="currentStep < 8 && currentStep != 6" ng-click="ctrl.next()" class="btn secondaryColor" style="width: 100px">Skip <span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
  <br>
  <div class="btn-group" ng-if="showStep" style="margin-top: 5px">
    <button ng-if="currentStep < 9" ng-click="ctrl.next()" class="btn primaryColor" style="width: 200px">Apply <span class="glyphicon glyphicon-ok"></span></button>
  </div>
  <button ng-if="currentStep == 9" ng-click="ctrl.reset()" class="btn primaryColor" style="width: 100px">Restart <span class="glyphicon glyphicon-refresh"></span></button>
  <button ng-if="currentStep == 9" ng-click="ctrl.advanced()" class="btn primaryColor">Advanced Mode <span class="glyphicon glyphicon-dashboard"></span></button>
  <hr>
  <div uib-collapse="!showStep" style="text-align: left" class="guidedInner">
    <div ng-show="currentStep == 0">
      <div class="row" ng-controller="PreprocessingfilterCtrl as ctrl" ng-include="'views/preprocessing.filter.html'"></div>
    </div>
    <div ng-show="currentStep == 1">
      <div class="row" ng-controller="PreprocessingimportCtrl as ctrl" ng-include="'views/preprocessing.import.html'"></div>
    </div>
    <div ng-show="currentStep == 2">
      <div class="row" ng-controller="SpellcheckingimportCtrl as ctrl" ng-include="'views/spellchecking.import.html'"></div>
    </div>
    <div ng-show="currentStep == 3">
      <div class="row" ng-controller="SpellcheckingsetCtrl as ctrl" ng-include="'views/spellchecking.set.html'"></div>
    </div>
    <div ng-show="currentStep == 4">
      <div class="row" ng-controller="CompositefrequentCtrl as ctrl" ng-include="'views/composite.frequent.html'"></div>
    </div>
    <div ng-show="currentStep == 5">
      <div class="row" ng-controller="CompositeuniqueCtrl	 as ctrl" ng-include="'views/composite.unique.html'"></div>
    </div>
    <div ng-show="currentStep == 6">
      <div class="row" ng-controller="PostprocessingimportantCtrl as ctrl" ng-include="'views/postprocessing.important.html'"></div>
    </div>
    <div ng-show="currentStep == 7">
      <div class="row" ng-controller="PostprocessingreplaceCtrl as ctrl" ng-include="'views/postprocessing.replace.html'"></div>
    </div>
    <div ng-show="currentStep == 8">
      <div class="row" ng-controller="PostprocessingsalvageCtrl as ctrl" ng-include="'views/postprocessing.salvage.html'"></div>
    </div>
    <div ng-show="currentStep == 9">
      <div class="row" ng-controller="OverviewCtrl as ctrl" ng-include="'views/overview.html'"></div>
    </div>
  </div>
</div>
