<div class="guidedInner" xmlns:width="http://www.w3.org/1999/xhtml">
  <span ng-show="ctrl.currentStep == 0" class="guidedQuestion">Do you want to remove rare words?</span>
  <span ng-show="ctrl.currentStep == 1" class="guidedQuestion">Do you want to import a list of words to remove?</span>
  <span ng-show="ctrl.currentStep == 2" class="guidedQuestion">Do you want to import a list of correct words?</span>
  <span ng-show="ctrl.currentStep == 3" class="guidedQuestion">Do you want to reduce word forms and spelling errors?</span>
  <span ng-show="ctrl.currentStep == 4" class="guidedQuestion">Do you want to find  ?</span>
  <span ng-show="ctrl.currentStep == 5" class="guidedQuestion">This is the question?</span>
  <span ng-show="ctrl.currentStep == 6" class="guidedQuestion">This is the question?</span>
  <span ng-show="ctrl.currentStep == 7" class="guidedQuestion">This is the question?</span>
  <span ng-show="ctrl.currentStep == 8" class="guidedQuestion">This is the question?</span>
  <br>
  <div class="btn-group">
    <button ng-click="ctrl.ok()" class="btn primaryColor" style="width: 100px">Yes <span class="glyphicon glyphicon-ok"></span></button>
    <button ng-click="ctrl.next()" class="btn secondaryColor" style="width: 100px">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
  <hr>
  <div uib-collapse="!ctrl.showStep" style="text-align: left">
    <div ng-show="ctrl.currentStep == 0">
      <div ng-controller="PreprocessingremoveCtrl as ctrl" ng-include="'views/preprocessing.remove.html'"></div>
    </div>
  </div>
</div>
