<div style="text-align:center">
  <h2 ng-if="!ctrl.dataLoaded || !ctrl.connectionStatus" class="title">TagRefinery</h2>
  <button ng-if="ctrl.dataLoaded && ctrl.connectionStatus" ng-click="ctrl.runAll()" class="btn btn-lg btn-success startButton"><span class="glyphicon glyphicon-play"></span></button>
     <h4 ng-if="ctrl.dataLoaded && ctrl.connectionStatus" class="runText">Run complete work-flow</h4>
</div>

<div class="alert alert-danger infos" ng-hide="ctrl.connectionStatus">
  <h4 style="text-align:center">Disconnected</h4>
  <button type="button" class="btn btn-primary pull-right reconnectButton" ng-click="ctrl.reconnect()">Reconnect
  </button>
</div>

<div ng-hide="!ctrl.connectionStatus || ctrl.dataLoaded">
  <div class="alert alert-info infos">
    <h4 style="text-align:center">No Data</h4>
  </div>
  <h3 style="text-align:center">Import Data</h3>
  <button uib-tooltip="Import Data" tooltip-placement="bottom" type="button"
          class="btn btn-info btn-lg pull-right importButton" ng-click="ctrl.import()" ng-disabled="data.length<1">
    <span class="glyphicon glyphicon-ok"></span>
  </button>

  <div ng-if="!ctrl.dataLoaded" ui-grid="gridOptions" ui-grid-importer ui-grid-edit class="taskInner"></div>

  <div class="well taskInner">
    <p>
      Import by clicking on the symbol in the right top corner of the grid - choose a file. The file needs to be a csv
      file with exact the same column headers as the grid has. After importing, the first three steps of the pipeline
      will be computed automatically, using default values. The forth step is optional.
    </p>
  </div>
</div>
