<h2 style="text-align: center">TagRefinery</h2>
<button ng-click="ctrl.goToStart()" class="btn btn-helper" style="position: absolute; top: 5px; left: 0;" uib-tooltip="Back to the Start Screen" tooltip-placement="right"><span class="glyphicon glyphicon-arrow-left"></span></button>
<hr>
  <div style="text-align: center; margin-top: 5%" class="test">
    <h4>Import Data</h4>
    <upload-button get-file="ctrl.getFile(file)" uib-tooltip="Upload File"></upload-button>
    <div class="btn-group">
      <button class="btn secondaryColor" style="width: 75px" ng-click="ctrl.clear()" uib-tooltip="Clear Import" ng-disabled="dataI.length<1"><span class="fa fa-trash"></span></button>
      <button uib-tooltip="Save Import" type="button" style="width: 75px"
              class="btn secondaryColor" ng-click="ctrl.import()" ng-disabled="dataI.length<1 || !ctrl.touched">
        <span class="fa fa-floppy-o"></span>
      </button>
    </div>

  <div ui-grid="gridOptions" ui-grid-importer ui-grid-edit class="inner" style="text-align: left"></div>

      <div class="well inner">
        <p>
          Import one or multiple files by adding them with "Select File". <br>
          The file needs to be a csv file with exact the same column headers as in the grid shown.
        </p>
      </div>
  </div>
