<div>
  <h2 style="text-align: center">TagRefinery</h2>
  <button ng-click="ctrl.goToStart()" class="btn btn-helper" style="position: absolute; top: 5px; left: 0;" uib-tooltip="Back to the Start Screen" tooltip-placement="right"><span class="fa fa-home"></span></button>
  <button ng-show="false" class="btn btn-helper" ng-click="CallMe();" uib-tooltip="Shows the Introduction for this Page" tooltip-placement="left">
    <i id="start3" class="fa fa-film"></i>
  </button>
  <hr>
  <div style="text-align: center; margin-top: 5%" class="test">
    <h3>Import Data</h3>
    <div id="import1">
      <upload-button get-file="ctrl.getFile(file)" uib-tooltip="Upload File"></upload-button>
    </div>

    <div class="btn-group" id="import3" style="display: inline-block">
      <button class="btn secondaryColor" style="width: 100px" ng-click="ctrl.clear()" uib-tooltip="Clear Import" ng-disabled="dataI.length<1"> Clear <span class="fa fa-trash"></span></button>
      <button uib-tooltip="Apply Import" type="button" style="width: 100px"
              class="btn secondaryColor" ng-click="ctrl.import()" ng-disabled="dataI.length<1 || !ctrl.touched">
        Apply <span class="fa fa-check"></span>
      </button>
    </div>

  <div id="import2" ui-grid="gridOptions" ui-grid-importer ui-grid-edit class="inner" style="text-align: left"></div>
      <div class="well inner">
        <p>
          Import one or multiple files by adding them with Select File <span class="fa fa-upload"></span> and send it to the server by pressing Apply <span class="fa fa-check"></span>. <br>
          Apply <span class="fa fa-check"></span> normalizes the input tags: turns them to lower case and merges multiple spaces into one. <br>
          The file needs to be a csv file with exact the same column headers as in the grid shown.
        </p>
      </div>
  </div>
</div>
