<div ng-controller="LinkedCtrl as ctrl" class="guidedInner">
  <div class="row">
    <h3 style="margin-top: -15px">Refine your Parameters</h3>
    <div class="col-sm-8">
      <div style="position: relative">
        <div uib-collapse="!ctrl.showPrefilter">
          <div ng-if="ctrl.initRunning" class="overlay">
            <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
          </div>
          <div ng-if="ctrl.showPrefilter" d3-hist data="ctrl.preData" call-back="ctrl.getPre(threshold)" threshold="ctrl.newPre" is-float="false" from-right="false"
               bins="18" svg-height="200" type-label="Number of Occurrences" y-label="Number of Words" title="Remove Rare Words"></div>
        </div>
        <div ng-if="ctrl.preRunning" class="overlay">
          <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
        </div>
        <div id="linked2" ng-if="ctrl.linked" d3-hist data="ctrl.spellData" threshold="ctrl.newSpellI" bins="18" svg-height="200"
             type-label="Word Quality" y-label="Number of Words" call-back="ctrl.getSpellI(threshold)" title="Improve Tag Quality"></div>
        <div id="linked3" class="taskInner similarity" d3-slider ng-if="ctrl.linked" value="ctrl.newSpellS" call-back="ctrl.getSlider(value)" domain="ctrl.spellDomain" xlabel="Similarity"></div>
      </div>
      <div style="position: relative">
        <div ng-if="ctrl.spellRunning" class="overlay">
          <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
        </div>
        <div id="linked4" ng-if="ctrl.linked" d3-hist data="ctrl.compDataF" call-back="ctrl.getCompF(threshold)"
             threshold="ctrl.newCompF" bins="18" svg-height="200" type-label="Group Strength" y-label="Count" title="Frequent Multiword Groups"></div>
        <div id="linked5" ng-if="ctrl.linked" d3-hist data="ctrl.compDataU" call-back="ctrl.getCompU(threshold)"
             threshold="ctrl.newCompU" bins="18" svg-height="200" type-label="Group Strength" y-label="Count" title="Unique Multiword Groups"></div>
      </div>
    </div>
    <div class="col-sm-4" style="position: relative">
      <div class="row" style="margin-bottom: 2px">
        <button class="btn btn-group-justified btn-primary" ng-model="ctrl.showPrefilter" uib-btn-checkbox btn-checkbox-true=true btn-checkbox-false=false style="text-align: left">Pre Filter</button>
      </div>
      <div id="linked8" class="row">
        <button style="text-align: left" class="btn btn-group-justified btn-info" ng-click="ctrl.goToResult()">Goto Results</button>
      </div>
      <div ng-if="ctrl.compRunning" class="overlay">
        <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
      </div>
      <div id="linked6" class="row">
        <div class="col-sm-3">
          <h5 style="text-align: center">In</h5>
          <hr>
          Number of Annotated Items: <strong>{{ctrl.datasetCount["After Preprocessing"]}}</strong> <br>
          <br>
          Number of Tags: <strong>{{ctrl.vocabCount["After Preprocessing"]}}</strong>
        </div>
        <div class="col-sm-3">
          <h5 style="text-align: center">Spell Correct</h5>
          <hr>
          Number of Ground Truth Words: <strong>{{ctrl.spellTruth}}</strong> <br>
          <br>
          Number of Replacements: <strong>{{ctrl.getReplacementCount()}}</strong>
        </div>
        <div class="col-sm-3">
          <h5 style="text-align: center">Multiword</h5>
          <hr>
          Number of Frequent Groups: <strong>{{ctrl.getCompFCount()}}</strong> <br>
          <br>
          Number of Unique Groups: <strong>{{ctrl.getCompUCount()}}</strong>
        </div>
        <div class="col-sm-3">
          <h5 style="text-align: center">Out</h5>
          <hr>
          Number of Annotated Items: <strong>{{ctrl.datasetCount["After Multiword Tag Detection"]}}</strong> <br>
          <br>
          Number of Tags: <strong>{{ctrl.vocabCount["After Multiword Tag Detection"]}}</strong>
        </div>
      </div>
      <div class="row" style="position: relative">
        <h5 style="text-align: center">Tags</h5>
        <div id="linked7" style="text-align: left; height: 475px" ng-if="ctrl.linked" ui-grid="ctrl.vocabGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter>
          <div ng-if="ctrl.compRunning" class="overlay" style="text-align: center">
            <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
