<div ng-controller="LinkedCtrl as ctrl" class="guidedInner">
  <div class="row">
    <h3 style="margin-top: -15px">Refine your Parameters</h3>
    <div class="col-sm-8">
      <div style="position: relative">
        <div uib-collapse="!ctrl.showPrefilter">
          <div ng-if="ctrl.initRunning" class="overlay">
            <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
          </div>
          <div ng-if="ctrl.showPrefilter" d3-hist data="ctrl.preData" call-back="ctrl.getPre(threshold)" threshold="ctrl.newPre" is-float="false" from-right="false"
               bins="18" svg-height="240" type-label="Number of Occurrences" y-label="Number of Words" title="Remove Rare Words"></div>
        </div>
        <div ng-if="ctrl.preRunning" class="overlay">
          <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
        </div>
        <div id="linked2" ng-if="ctrl.linked" d3-hist data="ctrl.spellData" threshold="ctrl.newSpellI" bins="18" svg-height="200"
             type-label="Word Quality" y-label="Number of Words" call-back="ctrl.getSpellI(threshold)" title="Improve Tag Quality"></div>
        <div id="linked3" class="taskInner similarity" d3-slider ng-if="ctrl.linked" value="ctrl.newSpellS" call-back="ctrl.getSlider(value)" domain="ctrl.spellDomain" xlabel="Similarity"></div>
      </div>
      <div style="position: relative">
        <div ng-if="ctrl.spellRunning" class="overlay">
          <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
        </div>
        <div id="linked4" ng-if="ctrl.linked" d3-hist data="ctrl.compDataF" call-back="ctrl.getCompF(threshold)"
             threshold="ctrl.newCompF" bins="18" svg-height="240" type-label="Group Strength" y-label="Count" title="Frequent Multiword Groups"></div>
        <div id="linked5" ng-if="ctrl.linked" d3-hist data="ctrl.compDataU" call-back="ctrl.getCompU(threshold)"
             threshold="ctrl.newCompU" bins="18" svg-height="240" type-label="Group Strength" y-label="Count" title="Unique Multiword Groups"></div>
      </div>
    </div>
    <div class="col-sm-4" style="position: relative">
      <div class="row" style="margin-bottom: 2px">
        <button class="btn btn-group-justified primaryColor" ng-model="ctrl.showPrefilter" uib-btn-checkbox btn-checkbox-true=true btn-checkbox-false=false style="text-align: left">Pre Filter</button>
      </div>
      <div id="linked8" class="row">
        <button style="text-align: left" class="btn btn-group-justified secondaryColor" ng-click="ctrl.goToResult()">Guided Mode</button>
      </div>
      <div id="linked6" class="row">
        <div class="col-sm-3">
          <h5 style="text-align: center">In</h5>
          <hr>
          <p ng-class="{ 'highlight': ctrl.datasetInChanged }">Number of Annotated Items: <strong style="font-size: medium">{{ctrl.datasetIn}}</strong></p> <br>
          <br>
          <p ng-class="{ 'highlight': ctrl.vocabInChanged }">Number of Tags: <strong style="font-size: medium">{{ctrl.vocabIn}}</strong></p>
        </div>
        <div class="col-sm-3">
          <h5 style="text-align: center">Spell Correct</h5>
          <hr>
          <div ng-class="{ 'highlight': ctrl.spellChanged }">
          Number of Ground Truth Words: <strong style="font-size: medium">{{ctrl.spellTruth}}</strong> <br>
          <br>
          Number of Replacements: <strong style="font-size: medium">{{ctrl.getReplacementCount()}}</strong>
          </div>
        </div>
        <div class="col-sm-3">
          <h5 style="text-align: center">Multiword</h5>
          <hr>
          <div ng-class="{ 'highlight': ctrl.compChanged }">
          Number of Frequent Groups: <strong style="font-size: medium">{{ctrl.getCompFCount()}}</strong> <br>
          <br>
          Number of Unique Groups: <strong style="font-size: medium">{{ctrl.getCompUCount()}}</strong>
          </div>
        </div>
        <div class="col-sm-3">
          <h5 style="text-align: center">Out</h5>
          <hr>
          <p ng-class="{ 'highlight': ctrl.datasetOutChanged }">Number of Annotated Items: <strong style="font-size: medium">{{ctrl.datasetOut}}</strong></p> <br>
          <br>
          <p ng-class="{ 'highlight': ctrl.vocabOutCHanged }">Number of Tags: <strong style="font-size: medium">{{ctrl.vocabOut}}</strong></p>
        </div>
      </div>
      <div class="row" style="position: relative">
        <h4 style="text-align: center">Tags</h4>
        <div class="row">
          <span class="pull-left" style="margin-left: 15px"><strong style="background-color: rgba(50, 121, 183, 0.2)">Blue:</strong> New Tag</span>
          <span class="pull-right" style="margin-right: 15px"><strong style="background-color: rgba(127, 0, 0, 0.3)">Red:</strong> Removed Tag</span>
        </div>
        <div id="linked7" style="text-align: left; height: 475px" ng-if="ctrl.linked" ui-grid="ctrl.vocabGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter>
          <div ng-if="ctrl.compRunning" class="overlay" style="text-align: center">
            <div class="overlayInner" spin-rect style="width: 80px; height: 80px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
