<div class="row">
  <div class="col-sm-8" style="text-align: center">
    <h4> Final Dataset </h4>
    <div style="text-align: left" ng-if="activeTabs[4]" ui-grid="ctrl.grid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter
         class="taskInner"></div>
    <h4>History</h4>

    <div class="taskInner">
    <table class="table">
      <thead>
      <tr>
        <th>Raw Tag</th>
        <th>Preprocess</th>
        <th>Spellcorrect</th>
        <th>Multiword</th>
        <th>Postprocess</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in ctrl.history" id="{{$index}}">
        <td>{{ x.original }}</td>
        <td>{{ x.pre }}</td>
        <td>{{ x.spell }}</td>
        <td>{{ x.composite }}</td>
        <td>{{ x.post }}</td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="col-sm-4">
    <h4> Stats </h4>
    <table class="table">
      <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in ctrl.stats" id="{{$index}}">
        <td>{{ x.key }}</td>
        <td>{{ x.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
