<div class="taskInner well well-sm">

  <div class="btn-group" style="position:absolute;right:50px">
    <label class="btn btn-info btn-lg" uib-tooltip="Salvage Data" ng-click="ctrl.salvaging()"><span
      class="glyphicon glyphicon-refresh"></span></label>
    <label class="btn btn-success btn-lg" uib-tooltip="Apply Salvaged Data" ng-click="ctrl.apply()"><span
      class="glyphicon glyphicon-ok"></span></label>
  </div>
  <table style="width:100%;margin-bottom:5px">
    <tr>
      <th></th>
      <th>Count</th>
      <th>Salvaged Tags</th>
    </tr>
    <tr>
      <th>Important Tags:</th>
      <td>{{ctrl.temp.length}}</td>
      <td style="color:steelblue;font-size:12pt">0</td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-sm-6">
    <div ng-if="status.open[2]" ui-grid="ctrl.grid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter
         class="taskInner"></div>
  </div>
  <div class="col-sm-6">
    <div ng-if="status.open[2]" ui-grid="ctrl.salvage" ui-grid-selection ui-grid-resize-columns ui-grid-exporter
         class="taskInner"></div>
  </div>
</div>
