<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Keep the highest quality tags and remove the rest</span><br>
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    Word above the selected threshold are important. All words below are subject to the salvaging process.
  </div>
</div>

<div class="row taskInner">
  <div class="col-sm-9">
    <div id="postF1" ng-if="status.open[0] || (currentStep == 7 && showStep)" d3-hist data="ctrl.data" call-back="ctrl.getThreshold(threshold)"
         threshold="ctrl.newThreshold" bins="24" svg-height="400" type-label="Tag Quality" y-label="Number of Words"></div>
    <div style="margin-left: 70px">
      <p>Threshold: <strong style="font-size: large">{{ctrl.newThreshold | number:4 }}</strong></p>
      <p>Number of important Tags: <strong style="font-size: large">{{ ctrl.count }}</strong></p>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="height: 500px" ui-grid="ctrl.grid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter ng-if="status.open[0] || (currentStep == 7 && showStep)"></div>
  </div>
</div>
