<div class="scafold">
  <uib-accordion>
    <uib-accordion-group is-open="status.open[3]" panel-class="panel-primary">
      <uib-accordion-heading>
        <div class="descriptionHeaderAdvanced">
          Advanced - Parameters <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': status.open[3], 'glyphicon-chevron-right': !status.open[3]}"></i>
          <br>
          <p class="descriptionText">Set the min word length for salvaging and composite split parameters</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PostprocessingparamsCtrl as ctrl"
           ng-include="'views/postprocessing.params.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[0]" panel-class="panel-info">
      <uib-accordion-heading>
        <div class="descriptionHeader">
          Final Filtering <i class="pull-right glyphicon"
                             ng-class="{'glyphicon-chevron-down': status.open[0], 'glyphicon-chevron-right': !status.open[0]}"></i>
          <br>
          <p class="descriptionText">Create the final set of tags</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PostprocessingimportantCtrl as ctrl"
           ng-include="'views/postprocessing.important.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[1]" panel-class="panel-info">
      <uib-accordion-heading>
        <div class="descriptionHeader">
          Edit the filtered tags <i class="pull-right glyphicon"
                          ng-class="{'glyphicon-chevron-down': status.open[1], 'glyphicon-chevron-right': !status.open[1]}"></i>
          <br>
          <p class="descriptionText">Review and edit the final set of tags</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PostprocessingreplaceCtrl as ctrl"
           ng-include="'views/postprocessing.replace.html'"></div>
    </uib-accordion-group>
  </uib-accordion>
</div>
