<div class="compSimple well well-sm">

  <div class="btn-group" style="position:absolute;right:50px">
    <label ng-disabled="!ctrl.changes" class="btn btn-warning btn-lg" uib-tooltip="Revert Changes"
           ng-click="ctrl.revert()"><span class="glyphicon glyphicon-remove"></span></label>
    <label class="btn btn-success btn-lg" uib-tooltip="Apply Changes" ng-click="ctrl.apply()"><span
      class="glyphicon glyphicon-ok"></span></label>
  </div>
  <table style="width:100%;margin-bottom:5px">
    <tr>
      <th></th>
      <th>Count</th>
      <th>Replacements</th>
    </tr>
    <tr>
      <th>Important Tags</th>
      <td>{{ctrl.grid.data.length}}</td>
      <td style="color:steelblue;font-size:12pt">{{ctrl.replace.length}}</td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-sm-6">
    <div ng-if="status.open[1]" ui-grid="ctrl.grid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter
         ui-grid-edit ui-grid-row-edit class="compSimple"></div>
  </div>
  <div class="col-sm-6">
    <h4> Replacements </h4>
    <table class="table">
      <thead>
      <tr>
        <th>Replace</th>
        <th>By</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in ctrl.replace" id="{{$index}}">
        <td>{{ x.replace }}</td>
        <td>{{ x.by }}</td>
        <td>
          <button class="btn btn-danger btn-xs" ng-click="ctrl.remove()"><span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

