<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="info.one" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Salvage Important Tags</h4>
    Compute salvaging by clicking the blue button and apply it by clicking onto the ok button.
  </div>
  <div class="alert alert-info" ng-show="info.one">
    This step searches for the important tags in the non-important tags. <br> <br>
    The left grid displays the final set of important tags. <br>
    After computing the salvaging the right grid displays all salvaged tags.
  </div>
</div>

<!--Task content-->
<div class="row">
  <div class="col-sm-6">
    <div ng-if="status.open[2]" ui-grid="ctrl.grid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter
         class="taskInner"></div>
  </div>
  <div class="col-sm-6">
    <div ng-if="status.open[2]" ui-grid="ctrl.salvage" ui-grid-selection ui-grid-resize-columns ui-grid-exporter
         class="taskInner"></div>
  </div>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-6" style="text-align: left">
    <h4>Number of salvaged tags: {{ ctrl.salvage.data.length }}</h4>
  </div>
  <div class="col-sm-6" style="text-align: right">
    <label class="btn btn-info btn-lg" uib-tooltip="Salvage Data" ng-click="ctrl.salvaging()"><span
      class="glyphicon glyphicon-refresh"></span>
    </label>
    <label class="btn btn-success btn-lg" uib-tooltip="Apply changes" ng-click="ctrl.apply()" ng-disabled="!ctrl.salvage.data.length > 0">
      <span class="glyphicon glyphicon-ok"></span>
    </label>
  </div>
</div>
