<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Edit Important Tags</span><br>
    Edit tags by double clicking if necessary
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    This is the last place to make changes to the used tags.

    After you press apply, the system searches for the important tags in the non-important tags. <br> <br>
    The left grid displays the final set of important tags. <br>
    After computing the salvaging the right grid displays all salvaged tags.
  </div>
</div>

<!--Task content-->
<div class="row" style="margin-left: 70px">
  <span><strong style="background-color: rgba(50, 121, 183, 0.2)">Blue:</strong> Changed Tag;</span>
  <span><strong style="background-color: rgba(127, 0, 0, 0.3)">Red:</strong> Removed Tag</span>
</div>
<div id="postS1" ng-if="status.open[1] || (currentStep == 8 && showStep)" ui-grid="ctrl.edit" ui-grid-edit ui-grid-cellNav ui-grid-exporter class="taskInner"></div>
<div class="row taskInner" style="margin-top: 10px">
  <p>Number of Replaced Tags: <strong style="font-size: large">{{ctrl.replaceCount()}}</strong></p>
  <p>Number of Removed Tags: <strong style="font-size: large">{{ctrl.removeCount()}}</strong></p>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button id="postS6" class="btn btn-undo round" uib-tooltip="Clear all" ng-click="ctrl.clearAll()" ng-if="true">
      <span class="fa fa-trash"></span>
    </button>
    <button id="postS3" class="btn btn-undo round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.touched">
      <span class="fa fa-undo"></span>
    </button>
    <button ng-if="!currentStep == 8 || active == 3" ng-disabled="ctrl.postRunning" id="postS4" class="btn btn-primary round" uib-tooltip="Apply changes" ng-click="ctrl.apply()">
      <span class="glyphicon glyphicon-play"></span>
    </button>
  </div>
</div>
