<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Advanced Parameters</span><br>
    For more details click onto the info button on the left
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    <strong>Min Word Length</strong>
    All words below the choosen minimum word length will be salvaged with the conservative salvager and all <br>
    above with the greedy salvager.
    <strong>Split Composite</strong>
    If this parameter is true, composite words like "hard-rock song" will be split.
    <strong>Use All Words</strong>
    If this parameter is true, all words will be used and not only the filtered ones. <br>
    False means, only filtered words will be in the final dataset.
  </div>
</div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: left">
    <form name="ctrl.params">
      <h5>
        <label>
          Min Word Length:
          <input type="number" ng-model="ctrl.newMinWordLength"
                 uib-tooltip="What is the minimum word length for greedy salvaging?">
        </label>
        <br>
        <label>
          Split Composite Tags:
          <input type="checkbox" ng-model="ctrl.newSplit" uib-tooltip="Should multiword tags be split?">
        </label>
        <br>
        <label>
          Use All Words:
          <input type="checkbox" ng-model="ctrl.newUseAllWords"
                 uib-tooltip="Should all words be used or only the filtered ones?">
        </label>
      </h5>
    </form>
  </div>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-undo round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.params.$dirty">
      <span class="fa fa-undo"></span>
    </button>
  </div>
</div>
