<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Select Important Tags</span><br>
    All tags above the selected threshold are important words for the following steps
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    Word above the selected threshold are important. All words below are subject to the salvaging process.
  </div>
</div>

<!--Task content-->
<div id="postF1" ng-if="status.open[0] || (currentStep == 7 && showStep)" d3-hist data="ctrl.data" call-back="ctrl.getThreshold(threshold)"
     threshold="ctrl.newThreshold" bins="24" svg-height="300" type-label="Tag Quality" y-label="Number of Words"></div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div id="postF2" class="col-sm-6" style="text-align: left">
    <h4>Threshold: {{ctrl.newThreshold | number:4 }}</h4>
    <h4>Number of important Tags: {{ ctrl.count }}</h4>
  </div>
  <div id="postF3" class="col-sm-6" style="text-align: right">
    <label class="btn btn-default" ng-model="ctrl.showDetails" uib-btn-checkbox
           btn-checkbox-true=true btn-checkbox-false=false uib-tooltip="Show detailed information">
      Inspect Tags
    </label>
  </div>
</div>

<!--Task advanced content-->
<div ui-grid="ctrl.grid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter class="taskInner"
     ng-if="ctrl.showDetails"></div>
