<div class="scafold">
  <uib-accordion>
    <uib-accordion-group is-open="status.open[1]" ng-show="advanced.mode" panel-class="panel-primary">
      <uib-accordion-heading>
        <div class="descriptionHeaderAdvanced">
          Remove Characters <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status.open[1], 'glyphicon-chevron-right': !status.open[1]}"></i>
          <br>
          <p class="descriptionText">Remove characters from the dataset</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PreprocessingremoveCtrl as ctrl"
           ng-include="'views/preprocessing.remove.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[2]" ng-show="advanced.mode" panel-class="panel-primary">
      <uib-accordion-heading>
        <div class="descriptionHeaderAdvanced">
          Replace Characters <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': status.open[2], 'glyphicon-chevron-right': !status.open[2]}"></i>
          <br>
          <p class="descriptionText">Replace characters in the dataset</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PreprocessingreplaceCtrl as ctrl"
           ng-include="'views/preprocessing.replace.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[0]" panel-class="panel-info">
      <uib-accordion-heading>
        <div class="descriptionHeader">
          Filter <i class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': status.open[0], 'glyphicon-chevron-right': !status.open[0]}"></i>
          <br>
          <p class="descriptionText">Filter unimportant words right before the whole pipeline. This increases
            performance.</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PreprocessingfilterCtrl as ctrl"
           ng-include="'views/preprocessing.filter.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[3]" panel-class="panel-info">
      <uib-accordion-heading>
        <div class="descriptionHeader">
          Import Blacklist <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status.open[3], 'glyphicon-chevron-right': !status.open[3]}"></i>
          <br>
          <p class="descriptionText">Import words which should be removed from the dataset- such as stopwords..</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="PreprocessingimportCtrl as ctrl"
           ng-include="'views/preprocessing.import.html'"></div>
    </uib-accordion-group>
    <button style="margin-top: 5px" class="btn btn-default" uib-tooltip="Show advanced options" ng-click="" ng-model="advanced.mode" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Advanced</button>
  </uib-accordion>
</div>
