<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Import Black List</h4>
    Import csv file with "Word" as header and one word per line.
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    Each imported word will be removed from the whole dataset.
    <br>
    Note that this happens before spell-correct and does not affect wrong spelled versions
    <br>
    of the word.
  </div>
</div>

<!--Task content-->
<div ng-if="status.open[3] || (currentStep == 1 && showStep)" style="text-align: center">
  <upload-button get-file="ctrl.getFile(file)" uib-tooltip="Select File"></upload-button>
  <button class="btn btn-danger" ng-click="ctrl.clear()" uib-tooltip="Clear Import" ng-disabled="dataBlacklist.length<1">Clear</button>
</div>

<div ng-if="status.open[3] || (currentStep == 1 && showStep)" ui-grid="gridOptions" ui-grid-importer ui-grid-edit class="grid"></div>
