<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="preremove.params" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Replace Characters</h4>
  </div>
  <div class="alert alert-info" ng-show="preremove.params">
    Only single characters replacements are allowed.
    Use this to reduce the complexity of the whole tag space.
  </div>
</div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: left">
    <h5>
      <form name="that.replacement">
        Replace: <input ng-maxlength="1" name="word" ng-model="ctrl.word" uib-tooltip="Character to be replaced.">
        by: <input ng-maxlength="1" name="by" ng-model="ctrl.by" uib-tooltip="The replacing character">
        <button class="btn btn-primary" ng-disabled="that.replacement.word.$invalid || that.replacement.by.$invalid"
                ng-click="ctrl.add()" style="margin-left:5px">Add
        </button>
        <span ng-show="that.replacement.word.$invalid"> Only characters can be replaced!</span>
        <span ng-show="that.replacement.by.$invalid"> It can only be replaced by one character!</span>
      </form>
    </h5>
    <h4> Replacements </h4>
    <table class="table">
      <thead>
      <tr>
        <th>Replace</th>
        <th>By</th>
        <th>Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in ctrl.replace" id="{{$index}}">
        <td>{{ x.replace }}</td>
        <td>{{ x.by }}</td>
        <td>
          <button class="btn btn-danger btn-xs" ng-click="ctrl.remove()"><span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <label class="btn btn-success btn-lg" uib-tooltip="Apply changes" ng-click="ctrl.apply()" ng-disabled="!ctrl.touched || that.replacement.$invalid">
      <span class="glyphicon glyphicon-ok"></span>
    </label>
  </div>
</div>
