<div class="scafold">
  <uib-accordion>
    <uib-accordion-group is-open="status.open[3]" ng-show="advanced.mode" panel-class="panel-warning">
      <uib-accordion-heading>
        <div>
          Advanced Parameter <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status.open[3], 'glyphicon-chevron-right': !status.open[3]}"></i>
          <br>
          <p class="descriptionText">Set the minimum word length for replacements.</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="SpellcheckingparamsCtrl as ctrl"
           ng-include="'views/spellchecking.params.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[2]">
      <uib-accordion-heading>
        <div>
          Import Dictionary <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-down': status.open[2], 'glyphicon-chevron-right': !status.open[2]}"></i>
          <br>
          <p class="descriptionText">Import ground truth dictionary.</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="SpellcheckingimportCtrl as ctrl"
           ng-include="'views/spellchecking.import.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group is-open="status.open[1]">
      <uib-accordion-heading>
        <div>
          Configure spell corrector <i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-chevron-down': status.open[0], 'glyphicon-chevron-right': !status.open[0]}"></i>
          <br>
          <p class="descriptionText">Reduce spelling errors and different word forms</p>
        </div>
      </uib-accordion-heading>
      <div class="row" ng-controller="SpellcheckingsetCtrl as ctrl" ng-include="'views/spellchecking.set.html'"></div>
    </uib-accordion-group>
    <button style="margin-top: 5px" class="btn btn-default" uib-tooltip="Show advanced options" ng-click="" ng-model="advanced.mode" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Advanced</button>
  </uib-accordion>
</div>
