<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Import Ground Truth Words</h4>
    Import a csv file with "Tag" as header and one word per line.
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    Each word in this list will be treated as correct word. <br>
    Each word group will be treated as correct group.
  </div>
</div>

<!--Task content-->
<div ng-if="status.open[2]" style="text-align: center">
  <upload-button get-file="ctrl.getFile(file)" uib-tooltip="Select File"></upload-button>
  <button class="btn btn-danger" ng-click="ctrl.clear()" uib-tooltip="Clear Import" ng-disabled="data.length<1">Clear</button>
</div>

<div ng-if="status.open[2]" ui-grid="gridOptions" ui-grid-importer ui-grid-edit class="grid"></div>
