<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="ctrl.info" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <h4>Select Advanced Parameters</h4>
    For detailed information click on the left info button.
  </div>
  <div class="alert alert-info" ng-show="ctrl.info">
    <strong>Minimum Word Length</strong>
    This parameter defines what the minimum word length for replacements is. <br>
    Words below that length will be ignored in the process of spell correction.
  </div>
</div>

<!--Task Parameters and details-->
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: left">
    <form name="ctrl.params">
      <h5><label>
        Minimum Word Length:
        <input name="minWordSize" type="number" ng-model="ctrl.newMinWordSize"
               uib-tooltip="What is the minimum word length where replacements will be applied.">
      </label></h5>
    </form>
  </div>
</div>

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-undo round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.params.$dirty">
      <span class="fa fa-undo"></span>
    </button>
  </div>
</div>
