<div class="row taskInner">
  <div class="col-sm-6">
    <button class="btn btn-link infoButton" ng-model="ctrl.infoI" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
      <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    <div style="display: inline-block">
      <span class="taskTitle">Add tags to the ground truth list</span><br>
      Choose a threshold on word quality to distinguish a group of tags as ground-truth
    </div>
    <div class="alert alert-info" ng-show="ctrl.infoI">
      Each word has a word quality which is computed from your tag weight. <br>
      1 means most important and 0 not important at all. <br><br>
      Everything above the selected threshold will be treated as correct and will not be touched. <br><br>
      In the <b>Inspect Words</b> dialog shows the left grid the whole vocabulary and after clicking on <br>
      on word - the right one shows all possible replacements. The green words are above the selected <br>
      tag quality and the blue words will be replaced at the current similarity value.
    </div>
  </div>
  <div class="col-sm-6" style="text-align: right">
    <div style="display: inline-block">
      <span class=taskTitle>Modify minimum degree of similarity for replacements</span><br>
      Choose a value for spelling similarity, above which two tags will be considered the same.
    </div>
    <button class="btn btn-link infoButton" ng-model="ctrl.infoS" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
      <span class="glyphicon glyphicon-info-sign"></span>
    </button>
    <div class="alert alert-info" ng-show="ctrl.infoS">
      The value displays the similarity from 0 (completely different) to 1 (the same).
    </div>
  </div>
</div>

<div class="row taskInner">
  <div class="col-sm-6">
    <div id="spellC0" class="importance" d3-slider ng-if="status.open[1] || (currentStep == 3 && showStep)" name="importance" value="ctrl.newImportance" call-back="ctrl.getNewImportance(value)" domain="ctrl.domain" xlabel="Word Quality"></div>
  </div>
  <div class="col-sm-6">
    <div id="spellC4" class="similarity" d3-slider ng-if="status.open[1] || (currentStep == 3 && showStep)" name="similarity" value="ctrl.newSimilarity" call-back="ctrl.slider(value)" domain="ctrl.domain" xlabel="Similarity"></div>
  </div>
</div>
<div class="taskInner row">
  <div class="col-sm-1" style="text-align: right">
    <div id="spellC2">
      <p>Suggested default threshold: <strong style="font-size: large">0.700</strong></p>
      <p>Current threshold: <strong style="font-size: large">{{ ctrl.newImportance | number:4}}</strong></p>
      <p>Number of ground truth words: <strong style="font-size: large">{{ctrl.countGroundTruth() | number:0 }}</strong></p>
    </div>
  </div>
  <div class="col-sm-10">
    <h4 style="text-align: center">Pairs of similar words</h4>
    <div class="row" style="margin-left: 0px">
      <span><strong style="background-color: rgba(50, 121, 183, 0.2)">Blue:</strong> Both Words in Ground Truth (no replacement)</span><br>
      <span><strong style="background-color: rgba(127, 0, 0, 0.3)">Red:</strong> Accepted Replacements</span>
    </div>
    <div ng-if="status.open[1] || (currentStep == 3 && showStep)" ui-grid="ctrl.replGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter class="grid" style="height: 600px"></div>
  </div>
  <div class="col-sm-1">
    <div id="spellC3" style="text-align: justify">
      <p>Suggested default threshold: <strong style="font-size: large">0.750</strong></p>
      <p>Current threshold: <strong style="font-size: large">{{ ctrl.newSimilarity | number:4}}</strong></p>
      <p>Number of replacements: <strong style="font-size: large">{{ ctrl.getReplacementCount() }}</strong></p>
    </div>
  </div>
</div>

<hr>

<div class="row taskInner">
  <div class="col-sm-12" style="text-align: right">
    <button class="btn btn-undo round" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.touched">
      <span class="fa fa-undo"></span>
    </button>
  </div>
</div>
