<div class="taskInner well well-sm" style="height:65px">
  <div>
    <div class="btn-group pull-right" style="display:inline-block">
      <label class="btn btn-success btn-lg" uib-tooltip="Apply selected threshold" ng-click="ctrl.apply()"><span
        class="glyphicon glyphicon-play"></span></label>
    </div>
  </div>
</div>

<div class="taskInner" style="width:450px">
    Minimum Word Length: <input type="number" ng-model="ctrl.minWordSize" uib-tooltip="What is the minimum word length where replacements will be applied.">
</div>
