<div style="text-align: center; margin: 15% auto" ng-intro-options="IntroOptions" ng-intro-method="startHelper" ng-intro-onexit="ExitEvent" ng-intro-autostart="ctrl.helper" ng-intro-oncomplete="CompletedEvent">
  <i id="start3" class="fa fa-info" style="font-size: large; position: absolute; top: 5px; right: 5px" ng-click="startHelper();" ></i>
  <h1 style="font-size: 50px">TagRefinery</h1>
  <span>Tidy up your <strong>Tags</strong> by improving the quality of single words in your dataset!</span>
  <div class="row" style="margin-top: 20px">
    <span style="font-size: medium">Start:</span>
    <button style="margin-right: 2px" id="start2" uib-tooltip="Guided run with default values" ng-if="!ctrl.running" ng-disabled="!ctrl.dataLoaded" class="btn primaryColor" ng-click="ctrl.startWithDefaults()">Guided <span class="glyphicon glyphicon-plane"></span></button>

    <button uib-tooltip="Unguided dashboard" ng-if="!ctrl.running" ng-disabled="!ctrl.dataLoaded" class="btn primaryColor" ng-click="ctrl.startCustom()">Advanced <span class="glyphicon glyphicon-dashboard"></span></button>
    <button uib-tooltip="Reconnect to the active Season" ng-if="ctrl.running" class="btn primaryColor" ng-click="ctrl.reconnectToWorkflow()">Reconnect <span class="glyphicon glyphicon-cloud-upload"></span></button>
  </div>
  <div class="row" style="margin-top: 2px">
    <button uib-tooltip="Import csv file" id="start1" ng-if="ctrl.dataLoaded" class="btn secondaryColor" ng-click="ctrl.goToImport()">Update Data <span class="glyphicon glyphicon-save-file"></span></button>
    <button uib-tooltip="Update csv file" ng-if="!ctrl.dataLoaded" class="btn secondaryColor" ng-click="ctrl.goToImport()">Import Data <span class="glyphicon glyphicon-open-file"></span></button>

    <span style="font-size: medium">Status:</span>
    <span style="font-size: xx-large; vertical-align: middle" ng-if="ctrl.dataLoaded"><span class=" glyphicon glyphicon-ok-circle"></span></span>
    <span style="font-size: large; color: grey" ng-if="!ctrl.dataLoaded && !ctrl.loading">no data </span>
    <span style="font-size: large; color: grey" ng-if="ctrl.loading"><span spin-circle style="width: 30px; height: 30px"></span></span>
  </div>
</div>
