<!--Task description-->
<div class="taskInner description">
  <button class="btn btn-link infoButton" ng-model="info.one" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    <span class="glyphicon glyphicon-info-sign"></span>
  </button>
  <div style="display: inline-block">
    <span class="taskTitle">Task</span><br>
    Short description
  </div>
  <div class="alert alert-info" ng-show="info.one">
    Description
  </div>
</div>

<!--Task content-->

<!--Task Parameters and details-->
<div class="row taskInner">
  <div class="col-sm-6" style="text-align: left">
    <h4>Current threshold: {{ctrl.newImportance | number:4 }}</h4>
  </div>
  <div class="col-sm-6" style="text-align: right">
    <label class="btn btn-default"  uib-btn-checkbox ng-model="ctrl.showDetails" uib-btn-checkbox
           btn-checkbox-true=true btn-checkbox-false=false uib-tooltip="Show detailed information">
      Inspect Words
    </label>
  </div>
</div>

<!--Task advanced content-->

<!--Footer -> Apply and Undo -->
<hr>
<div class="row taskInner">
  <div class="col-sm-6" style="text-align: left">
    <h4>Number of replacements: {{ ctrl.replacements }}</h4>
  </div>
  <div class="col-sm-6" style="text-align: right">
    <label class="btn btn-undo" uib-tooltip="Undo changes" ng-click="ctrl.undo()" ng-disabled="!ctrl.touched">
      <span class="fa fa-undo"></span>
    </label>
    <label class="btn btn-success btn-lg" uib-tooltip="Apply changes" ng-click="ctrl.apply()" ng-disabled="!ctrl.touched">
      <span class="glyphicon glyphicon-ok"></span>
    </label>
  </div>
</div>
