<h2 style="text-align: center">TagRefinery</h2>
<button ng-click="ctrl.goToStart()" class="btn btn-default" style="position: absolute; top: 0; left: 0;" uib-tooltip="Back to the Start Screen" tooltip-placement="right"><span class="glyphicon glyphicon-arrow-left"></span></button>
<hr>
<div ng-controller="WorkflowCtrl as ctrl" ng-show="ctrl.init">
  <div ng-if="ctrl.guided" ng-include="'views/guided.html'"></div>
  <uib-tabset justified="true" active="active" ng-if="ctrl.free">
    <uib-tab index="0" disable="ctrl.disabled[0]" deselect="ctrl.apply()">
      <uib-tab-heading>
        <label class="pull-left">1</label> Preprocessing <i class="pull-right glyphicon glyphicon-chevron-right"></i>
      </uib-tab-heading>
      <div class="scafold">
        <span class="glyphicon glyphicon-info-sign"></span><strong>Preprocess</strong> the dataset to reduce the number of words and characters.
      </div>
      <div class="row" ng-include="'views/preprocessing.html'"></div>
    </uib-tab>

    <uib-tab index="1" disable="ctrl.disabled[1]" deselect="ctrl.apply()">
      <uib-tab-heading>
        <label class="pull-left">2</label> Spell-correct <i class="pull-right glyphicon glyphicon-chevron-right"></i>
      </uib-tab-heading>
      <div class="alert alert-success" style="text-align: center" ng-if="ctrl.preRunning">
        <strong>Apply Preprocessing ... </strong> <br> <div spin-circle style="width: 40px; height: 40px"></div>
      </div>
      <div class="scafold">
        <span class="glyphicon glyphicon-info-sign"></span><strong>Spell-correct</strong> to reduce the number of word forms and spelling errors.
      </div>
      <div class="row" ng-include="'views/spellchecking.html'"></div>
    </uib-tab>

    <uib-tab index="2" disable="ctrl.disabled[2]" deselect="ctrl.apply()">
      <uib-tab-heading>
        <label class="pull-left">3</label> Multiword Tags <i class="pull-right glyphicon glyphicon-chevron-right"></i>
      </uib-tab-heading>
      <div class="alert alert-success" style="text-align: center" ng-if="ctrl.spellRunning">
        <strong>Apply Spell Correction ... </strong> <br> <div spin-circle style="width: 40px; height: 40px"></div>
      </div>
      <div class="scafold">
      <span class="glyphicon glyphicon-info-sign"></span>Find meaningful <strong>Multiword Tags</strong>.
      </div>
      <div class="row" ng-include="'views/composite.html'"></div>
    </uib-tab>

    <uib-tab index="3" disable="ctrl.disabled[3]">
      <uib-tab-heading>
        <label class="pull-left">4</label> Finalize <i class="pull-right glyphicon glyphicon-chevron-right"></i>
      </uib-tab-heading>
      <div class="alert alert-success" style="text-align: center" ng-if="ctrl.compRunning">
        <strong>Apply Multiword Tags ... </strong> <br> <div spin-circle style="width: 40px; height: 40px"></div>
      </div>
      <div class="scafold">
        <span class="glyphicon glyphicon-info-sign"></span><strong>Finalize</strong> the dataset by using a set of important tags and salvaging information in non-important ones.
      </div>
      <div class="row" ng-include="'views/postprocessing.html'"></div>
    </uib-tab>

    <uib-tab index="4" disable="ctrl.disabled[4]" select="ctrl.output()">
      <div class="alert alert-success" style="text-align: center" ng-if="ctrl.compRunning">
        <strong>Updating Data ... </strong> <br> <div spin-circle style="width: 40px; height: 40px"></div>
      </div>
      <uib-tab-heading>
        Output
      </uib-tab-heading>
      <div class="row" ng-controller="OverviewCtrl as ctrl" ng-include="'views/overview.html'"></div>
    </uib-tab>
  </uib-tabset>
</div>
