<div class="scafold">
	<uib-accordion>
		<div class="well">
			Composite
		</div>
		<uib-accordion-group is-open="status.open[0]">
				<uib-accordion-heading>
					<div>
						Find Frequent Groups <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open[0], 'glyphicon-chevron-right': !status.open[0]}"></i>
						<br>
						<p class="descriptionText">How many frequent groups should be considered.</p>
					</div>
				</uib-accordion-heading>
			<div class="row" ng-controller="CompositefrequentCtrl as ctrl" ng-include="'templates/composite.frequent.html'" ng-if="status.open[0]"></div>
		</uib-accordion-group>
		<uib-accordion-group is-open="status.open[1]">
				<uib-accordion-heading>
					<div>
						Find Unique Groups <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open[1], 'glyphicon-chevron-right': !status.open[1]}"></i>
						<br>
						<p class="descriptionText">How many unique groups should be considered.</p>
					</div>
				</uib-accordion-heading>
			<div class="row" ng-controller="CompositeuniqueCtrl	 as ctrl" ng-include="'templates/composite.unique.html'" ng-if="status.open[1]"></div>
		</uib-accordion-group>
	</uib-accordion>
</div>
