<div ng-if="activeTabs[1]">
	 <div class="compSimple well well-sm">
		<button class="btn btn-default help" ng-click="cc.help()">
			<span class="glyphicon glyphicon-header"></span>
		</button>
		<table style="width:100%">
		  <tr>
			<th colspan="2"></th>
			<th>Threshold</th>    
			<th>Count</th>
		  </tr>
		  <tr>	
			<th rowspan="2">Unique:</th>
			<td>Current</td>
			<td>{{cc.thresholdU | number:6}}</td>
			<td>{{cc.countU()}}</td>
		  </tr>
		  <tr>
			<td>New</td>
			<td>{{cc.newThresholdU | number:6}}</td>
			<td>{{cc.newCountU()}}</td>
		  </tr>
		  <tr>
			<th rowspan="2">Frequent:</th>
			<td>Current</td>
			<td>{{cc.thresholdF | number:6}}</td>
			<td>{{cc.countF()}}</td>
		  </tr>
		  <tr>
			<td>New</td>
			<td>{{cc.newThresholdF | number:6}}</td>
			<td>{{cc.newCountF()}}</td>
		  </tr>
		</table>
	</div>

	<div class="col-sm-6">
		<h4 style="position:relative; left:25%">Frequent</h4>

		<div d3-hist data="cc.dataF" call-back="cc.getThresholdF(threshold)" threshold="cc.newThresholdF" bins="12" svg-height="300" type-label="Group Strength" y-label="Count" ></div>
		<div ui-grid="cc.frequentGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter></div>
	</div>

	<div class="col-sm-6">
		<h4 style="position:relative; left:25%">Unique</h4>

		<div d3-hist data="cc.dataU" call-back="cc.getThresholdU(threshold)" threshold="cc.newThresholdU" bins="12" svg-height="300" type-label="Group Strength" y-label="Count" ></div>
        <div ui-grid="cc.uniqueGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter></div>
	 </div>

	 <button type="button" class="btn btn-primary btn-block" ng-click="cc.apply()">Group words with new threshold</button>
 </div>
