<button type="button" class="btn btn-primary btn-block" ng-click="cc.apply()">Apply Group Thresholds</button>
 <div class="col-sm-6" ng-if="activeTabs[1]">
     <h4 style="position:relative; left:25%">Unique Groups</h4>
     <h5>Threshold: {{cc.uniqueThreshold | number:3}}</h5>
    <div ui-grid="cc.uniqueGrid" ui-grid-selection ui-grid-resize-columns></div>
 </div>
 <div class="col-sm-6" ng-if="activeTabs[1]">
     <h4 style="position:relative; left:25%">Frequent Groups</h4>
     <h5>Threshold: {{cc.frequentThreshold | number:3}}</h5>
    <div ui-grid="cc.frequentGrid" ui-grid-selection ui-grid-resize-columns></div>
 </div>
