<div d3-sim-hist data="pc.data" filter="pc.filter" ng-if="activeTabs[0]" attribute="value" bins="10" svg-height="300" title="Similarity Histogram" y-label="Count" on-click="onClick(extend)">
    <div class="btn-group control">
        <button class="btn btn-default" ng-disabled="pc.allowBack" ng-click="pc.back()">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <button class="btn btn-default" ng-click="pc.reset()">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>

<div class="slider well">
    <div ui-slider min="{{pc.filter[0]}}" max="{{pc.filter[1]}}" step="0.001" use-decimals data-tip ng-model="pc.current"></div>
    <span style="float:right">{{pc.filter[1] | number:2}}</span>
    <span style="float:left">{{pc.filter[0] | number:2}}</span>
</div>

<div class="run">
    <button type="button" class="btn btn-primary btn-block run" ng-click="pc.apply()"> 
        Cluster words with new similarity
        <span class="label label-success">
            {{pc.current}} 
        </span>
    </button>
</div>
