 <button type="button" class="btn btn-primary btn-block" ng-click="pc.apply()">Cluster words with new similarity</button>
    <div d3-bars data="pc.data" ng-if="activeTabs[0]" title="Importance Histogram" xLabel="Importance" yLabel="Count"></div>
 <div class="col-sm-6" ng-if="activeTabs[0]">
     <h4 style="position:relative; left:25%">Vocab</h4>
     <h5>Current Similarity Value: {{pc.threshold | number:6}} </h5>
     <div ui-grid="pc.vocabGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter></div>
     <button type="button" class="btn btn-primary btn-block" ng-click="pc.exportVocab()">Export</button>
 </div>
 <div class="col-sm-6" ng-if="activeTabs[0]">
     <h4 style="position:relative; left:25%">Cluster</h4>
     <h5>New Similarity Value: {{pc.newThreshold | number:6}}</h5>
    <div ui-grid="pc.simGrid" ui-grid-selection ui-grid-resize-columns ui-grid-exporter></div>
    <button type="button" class="btn btn-primary btn-block" ng-click="pc.exportCluster()">Export</button>
 </div>
