<div class="modal-header">
    <h3 class="modal-title">Preprocessing Help</h3>
</div>
<div class="modal-body">
    <p>
    <h4>General</h4>
    The preprocessing step uses statistics and natural language processing techniques to reduce spell errors and different word forms. This is realized through a similarity replacement algorithm which computes how similar two words are - and replaces the unimportant with important ones. Importance is defined by the formula you already provided. The threshold defines how many word will be replaced.
    </p>
    
    <p>
    On top is a table with two lines, current and new. Current is a automaticaly created default and a good starting point. The threshold means how similar two words need to be replaced - 0.65: 65% similarity. Replacements shows how many words will be replaced with the given threshold. 
    </p>

    <p>
    <h4>Histogram</h4>
    The histogram below the list shows the number of <b>tags</b> binned over <b>importance</b> values - 10 at the 0.1-0.2 bin means that there are 10 <b>tags</b> within the range 0.1 and 0.2. You can zoom in by dragging a window or clicking onto a bin. 
    </p>

    <p>
    <h4>Vocab Grid</h4>
    This grid shows all words currently visible in the histogram above. If you click on a tag, the grid on the right side will show all possible replacements corresponding to this tag.
    </p>

    <p>
    <h4>Replacements Grid</h4>
    The grid shows all replacements for the selected word in the vocab grid. The new threshold will be updated, if you click on a tag.
    </p>

    <h4>Symbols</h4>
    <table style="width:100%">
      <tr>
        <td><span class="glyphicon glyphicon-menu-left"></span></td>
        <td>Back: Reverts one zooming step per click.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-search"></span></td>
        <td>Overview: Returns to the inital overview.</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-th"></span></td>
        <td>Simple: Back to the simple mode.</td>
      </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>
