<div class="scafold">
	<uib-accordion>
		<uib-accordion-group is-open="status.open[0]">
				<uib-accordion-heading>
					<div>
						Find Importance Threshold <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open[0], 'glyphicon-chevron-right': !status.open[0]}"></i>
						<br>
						<p class="descriptionText">How similar should two words be, to be regarded as the same.</p>
					</div>
				</uib-accordion-heading>
			<div class="row" ng-controller="SpellcheckingfindCtrl as ctrl" ng-include="'templates/spellchecking.find.html'" ng-if="status.open[0]"></div>
		</uib-accordion-group>
	</uib-accordion>
</div>